body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.App {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App img {
  width: 80% !important;
  height: auto;
}

.flex_container {
  display: flex;
  background-color: #111224;
  border-top: 3px solid #00b5f0;
  border-bottom: 3px solid #5f606c;
  /* padding: 20px 10px; */
  height: 50px;
  color: aliceblue;
  align-items: center !important;
}

.flex_container .title-text {
  flex-grow: 1;
  padding: 0 20px;
  font-size: 20px;
}

.flex_container .links a {
  color: aliceblue;
  padding: 0 10px;
  font-size: 15px;
}

.login_container {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
  height: -webkit-fill-available;
  background-image: radial-gradient(circle, lightgray, #18192e9f, #05050a);
  opacity: .9;
}

.login_container .form_holder {
  display: flex;
  justify-content: center;
  position: relative;
  width: 440px;
  height: 400px;
  /* background-color: #11122494; */
  opacity: 0.9;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #05050a, #18192ec0, #05050a) !important;
}

.login_container .avtar {
  background-image: url('http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png') !important;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 160px;
  width: 160px;
  border: 3px solid white;
  top: -80px;
  opacity: .6;
  /* background: #111224f1; */
  border-radius: 50%;
  z-index: 1
}
.login_container .form-container {
  margin-top: 100px;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
}
.login_container .form-container .input{
  background-color: #05050a;
  color: white;
  border: 2px #5f606c80 solid;
  border-radius: 5px;
  margin: 5px 30px;
  width: -webkit-fill-available;
  height: 35px;
  padding: 5px 10px;
  font-family: 'Zilla Slab', serif;
  font-size: 15px;
  position: relative;
}

.login_container .form-container .input:focus{
  outline: none;
  background-color: #05050a;
}



.login_container .form-container .input.input_btn{
  background:  rgb(144, 144, 144) !important;
  color: #05050a !important;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}


button :disabled,button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  
}
.login_container .form-container .input.input_check{
  margin-right: 5px;
}
label{
  color: #bebed2 !important; 
  position: absolute;
  margin: 12px 0;
  /* font-size: 13px; */
}
.fc-row{
  display: flex;
  font-size: 15px;
}
.fc1{
  flex-grow: 1;
}
.fc2{
  padding: 10px;
}
.fc2 a{
  /* flex-grow: 1; */
  margin-right: 30px;
  font-style: italic;
  color: #bebed2 !important; 
}

pre{
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.1);
    color: #ccc;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 5px 30px;
}
